doctype html
html
  head
    title= title
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.3.1/dist/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css' rel='stylesheet')
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.3.0/dist/leaflet.css')
    link(rel='stylesheet' href='../static/css/leaflet-search.css')
    link(rel='stylesheet' href='../static/css/style.css')
    script(src='https://unpkg.com/jquery@3.3.1/dist/jquery.js')
    script(src='https://unpkg.com/leaflet@1.3.0/dist/leaflet.js')
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css' integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==' crossorigin='')
    script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js' integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==' crossorigin='')
    link(rel='stylesheet' href='../static/dist/L.Control.Locate.min.css')
    // link draw
    script(src='../static/libs/leaflet-src.js')
    script(src='../static/src/Leaflet.draw.js')
    script(src='../static/src/Leaflet.Draw.Event.js')
    link(rel='stylesheet' href='../static/src/leaflet.draw.css')
    script(src='../static/src/Toolbar.js')
    script(src='../static/src/Tooltip.js')
    script(src='../static/src/ext/GeometryUtil.js')
    script(src='../static/src/ext/LatLngUtil.js')
    script(src='../static/src/ext/LineUtil.Intersect.js')
    script(src='../static/src/ext/Polygon.Intersect.js')
    script(src='../static/src/ext/Polyline.Intersect.js')
    script(src='../static/src/ext/TouchEvents.js')
    script(src='../static/src/draw/DrawToolbar.js')
    script(src='../static/src/draw/handler/Draw.Feature.js')
    script(src='../static/src/draw/handler/Draw.SimpleShape.js')
    script(src='../static/src/draw/handler/Draw.Polyline.js')
    script(src='../static/src/draw/handler/Draw.Marker.js')
    script(src='../static/src/draw/handler/Draw.Circle.js')
    script(src='../static/src/draw/handler/Draw.CircleMarker.js')
    script(src='../static/src/draw/handler/Draw.Polygon.js')
    script(src='../static/src/draw/handler/Draw.Rectangle.js')
    script(src='../static/src/edit/EditToolbar.js')
    script(src='../static/src/edit/handler/EditToolbar.Edit.js')
    script(src='../static/src/edit/handler/EditToolbar.Delete.js')
    script(src='../static/src/Control.Draw.js')
    script(src='../static/src/edit/handler/Edit.Poly.js')
    script(src='../static/src/edit/handler/Edit.SimpleShape.js')
    script(src='../static/src/edit/handler/Edit.Rectangle.js')
    script(src='../static/src/edit/handler/Edit.Marker.js')
    script(src='../static/src/edit/handler/Edit.CircleMarker.js')
    script(src='../static/src/edit/handler/Edit.Circle.js')
    // end link draw
    script(type='text/javascript' src='../static/dist/Leaflet.Coordinates-0.1.5.min.js')
    link(rel='stylesheet' href='../static/dist/Leaflet.Coordinates-0.1.5.css')
    title

  body
    block content
